@import url('https://fonts.googleapis.com/css?family=Dosis:300');
.dos{
    font-family: 'Dosis', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Muli');
.mul{
    font-family: 'Muli', sans-serif;
}
.upr{
    text-transform: uppercase;
}